@page
@model NHCM.WebUI.Pages.Security.InitialPasswordChangeModel
@{
    ViewData["Title"] = "InitialPasswordChange";
    Layout = "~/Pages/Security/Shared/_SecuritySharedLayout.cshtml";
}
<div class="panel-heading">
    <h1 class="panel-title">تعغیر رمز عبور</h1>
</div>

<div class="panel-body">
    <div class="row">
        <div class="col-md-6 pull-right">
            <form method="post" class="form main-form page-component" type="form">
                <fieldset class="content-group">
                    <legend>تعغیر رمز عبور برای بار اول ضروری میباشد</legend>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label asp-for="@Model.CurrentPassword" class="text-bold">


                                </label>

                                <span asp-validation-for="@Model.CurrentPassword" class="text-danger"></span>
                                <input asp-for="@Model.CurrentPassword" class="form-control" />
                                <div class="form-control-feedback">
                                    <i class="icon-user text-size-base">

                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label asp-for="@Model.NewPassword" class="text-bold">


                                </label>

                                <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
                                <input asp-for="@Model.NewPassword" class="form-control" />
                                <div class="form-control-feedback">
                                    <i class="icon-user text-size-base">

                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 pull-right">
                            <div class="form-group has-feedback has-feedback-left">
                                <label asp-for="@Model.NewPasswordConfirmation" class="text-bold">


                                </label>

                                <span asp-validation-for="@Model.NewPasswordConfirmation" class="text-danger"></span>
                                <input asp-for="@Model.NewPasswordConfirmation" class="form-control" />
                                <div class="form-control-feedback">
                                    <i class="icon-user text-size-base">

                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="row div-form-control">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" asp-page-handler="ChangePassword" class="btn btn-primary"><i class="icon-floppy-disk position-right"></i>تعغیر رمز عبور</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    @if (ModelState.ErrorCount > 0)
                    {
                        <label class="control-label text-bold text-danger">
                            لطفا دقت نماید
                        </label>
                        <ul>
                            @foreach (var item in ViewData.ModelState.Values)
                            {
                                foreach (var error in item.Errors)
                                {
                                    <li style="color:red">@error.ErrorMessage</li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <div style="width:100%; text-align:center">
                            <label class="control-label text-bold text-success">@Model.Message</label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="Security/Shared/_ValidationScriptsPartial" />
}
